#include <zephyr/dt-bindings/gpio/gpio.h>

/ {
    leds {
        compatible = "gpio-leds";
        led0: led {
            gpios = <&gpio0 0 GPIO_ACTIVE_HIGH>;
            label = "User LED";
        };
    };

    gpio_keys {
        compatible = "gpio-keys";
        button0: button {
            gpios = <&gpio0 1 0>;
            label = "User Button";
        };
    };

    aliases {
        led0 = &led0;
        sw0 = &button0;
    };
};
